<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center">
      <div>
    <header class="header">
        <h1 class="header-info">Wellcom to: Phan Thanh Tài-19110452</h1>
    </header>
    {{{body}}}
    <footer class="footer">
        <h1>footer</h1>
    </footer>
    </div>
    </div>
  </body>
</html>
