<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
        <h1 class="header-info">Wellcom to: Phan Thanh Tài-19110452</h1>
    </header>
      {{{body}}}
    {{!-- <footer class="footer">
        <h1>footer</h1>
    </footer> --}}
  </body>
</html>
